// Variables
$primary-color: #39CDCC;
$secondary-color: #213F7D;
$text-color: #545F7D;
$bg-color: #FBFBFB;
$white: #FFFFFF;
$input-border: rgba(33, 63, 125, 0.15);
$error-color: #E4033B;

// Typography
$font-family-main: 'Work Sans', sans-serif;
$font-family-display: 'Work Sans', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1440px;
