* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-main;
  background-color: $bg-color;
  color: $text-color;
  line-height: 1.5;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input {
  outline: none;
}
